
<div class="nav">
<a [routerLink]="['/home']">Home</a>
<a [routerLink]="['/']">Logout</a>
</div>

<br>
<div id="heading"><b>PhoneWeb</b></div>
<br>

<div class="container">
    <div class="content">
      <a [routerLink]="['/addContact']">
        <div class="content-overlayblue"></div>
        <img class="content-imageblue" >
        <div class="content-details">
          <h3 class="content-title">Add Contact<i class="fas fa-arrow-right arrow"></i></h3>
        </div>
      </a>
    </div>
  </div>



  <div class="container">
    <div class="content">
      <a [routerLink]="['/displayContact']">
        <div class="content-overlayyellow"></div>
        <img class="content-imageyellow">
        <div class="content-details">
          <h3 class="content-title">Display Contact<i class="fas fa-arrow-right arrow"></i></h3>
        </div>
      </a>
    </div>
  </div>



  <div class="container">
    <div class="content">
      <a [routerLink]="['/addToDo']">
        <div class="content-overlaygreen"></div>
        <img class="content-imagegreen">
        <div class="content-details">
          <h3 class="content-title">Add Todo<i class="fas fa-arrow-right arrow"></i></h3>
        </div>
      </a>
    </div>
  </div>



  <div class="container">
    <div class="content">
      <a [routerLink]="['/displayTodo']">
        <div class="content-overlayred"></div>
        <img class="content-imagered">
        <div class="content-details">
          <h3 class="content-title">Display Todo<i class="fas fa-arrow-right arrow"></i></h3>
        </div>
      </a>
    </div>
  </div>
